{include file="/template/header" title="小铁匠|添加科目" username="$username" /}
<form method="POST" action="<:url('/index/addsubject')>"
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="form-group">
            <label>科目名称</label>
            <input type="text" class="form-control"  name="name" placeholder="请输入科目名称">
            <input type="submit" class="form-control" value="提交科目名称">
        </div>
    </div>
    <div class="col"></div>

</div>
</form>
{include file="/template/footer" /}