{include file="template/header" title="This is x-Tie" /}
<form role="form" method="POST" action="<*:url('/index/register')*>">
    <div class="form-group ">
        <label for="username">名称</label>
        <input type="text" class="form-control " id="username" name="username" placeholder="请输入用户名">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入用户密码">
        <label for="email">邮箱</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
        <input type="submit" class="form-control" value="注册">
    </div>
</form>
{include file="template/footer" /}