{include file="/template/header" title="小铁匠|科目"}
<div class="row">
    <div class="col-1"></div>
    <h2 class="col-3"><span class="badge badge-primary">科目名</span></h2>
    <h2 class="col-3"><span class="badge badge-secondary">到期</span></h2>
    <h2 class="col-2"><span class="badge badge-secondary">新增</span></h2>
</div>
<hr />
    {volist name="list" id="subname"}
    <ul class="pagination row">
    <li class="list-group-item  text-center col-3">
    <a class="text-center" href="#"><*$subname.name*></a>
    </li>
    <li class="list-group-item text-center col-3"><*$subname.expire*></li>
    <li class="list-group-item text-center col-3"><*$subname.new*></li>
    </ul>
    <div class="btn-group">
        <!--重命名模态框-->   
        {include file="/template/modal"  title="是否重命名该科目" content="<h4>科目名:</h4> <input type='text' name='name'>" method="post" 
        url="<*:url('/index/Subject')*>" value="<*$subname.subject_id*>" name="subject_id" action="重命名"
        target="重命名<*$subname.subject_id*>" anchor="rename" btn="primary"}  
        <!--删除模态框-->
        {include file="/template/modal"  title="是否删除该科目" content="你正在删除一个科目" method="post" 
        url="<*:url('/index/subject')*>" value="<*$subname.subject_id*>" name="subject_id" action="删除"
        target="删除<*$subname.subject_id*>" anchor="delete" btn="warning"}
        <!--学习按钮-->
        <form method="GET" action="#">
        <input type="hidden" value="<*$subname.subject_id*>">
        <button class="btn btn-success" type="submit">开始学习</button>
        </form>
    </div>
    {/volist}
{include file="/template/footer"}