{include file="/template/header" title="小铁匠|科目"}

<ul class="list-group row">
    {volist name="list" id="subname"}
    <li class="list-group-item  text-center col-2">
    <a class="text-center" href="#"><$subname.name></a> 
    </li>
    <div class="col-5">
    {include file="/template/modal"  title="是否重命名该科目" content="<h4>科目名:</h4> <input type='text' name='name'>" method="post" 
    url="<:url('/index/Subject')>" value="<$subname.subject_id>" name="subject_id" action="重命名"
    target="重命名<$subname.subject_id>" anchor="rename"}   

    {include file="/template/modal"  title="是否删除该科目" content="你正在删除一个科目" method="post" 
    url="<:url('/index/subject')>" value="<$subname.subject_id>" name="subject_id" action="删除"
    target="删除<$subname.subject_id>" anchor="delete"}
    </div>
    
    {/volist}
</ul>

{include file="/template/footer"}