{include file="/template/header" title="小铁匠|浏览你的知识点"}
<hr />
<div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
    {volist name="subjectlist" id="sub"}
        <li class="nav-item">
            <a class="nav-link active"  href="<:url('/index/viewCourse').'?sub_id='.$sub.subject_id>"> <$sub.name> </a>
        </li> 
    {/volist}      
    </ul>
</div>
<div class="row">
    <div class="list-group col-4">
    {volist name="courselist" id="course"}
        <li class="list-group-item">
            <a class="" href="<:url('/index/viewCourse').'?course_id='.$course.course_id.'&sub_id='.$sub_id>"><$course.name></a>     
        </li>
    {/volist}
    </div>
    <div class="col-6">
        <form class="form-group" method="post" action="<:url('/index/viewCourse')>">
            <label for="name">知识点</label>
            <input class="form-control" type="text" value="<$primary_c.name>" id="name" name="name">
            <label for="content">答案</label>
            <textarea class="form-control" cols="5" rows="10" id="content" name="content"><$primary_c.content></textarea>
            <input type="hidden" name="course_id" value="<$primary_c.course_id>">
            <input type="hidden" name="anchor" value="update">
            <div class="row">
                <div class="col-4">
                </div>
                <input class="form-control btn btn-success col-2" type="submit" value="修改">                 
                <div class="col">
                {include file="/template/modal" 
                title="是否删除这个知识点" content="你正打算删除这个知识点!!" method="post" 
                url="<:url('/index/viewCourse')>" anchor="delete" value="<$primary_c.course_id>" name="course_id" 
                target="<$primary_c.course_id>" action="删除" }
                </div>
            </div>
            <div class="alert alert-success text-center">  
                    注意修改了或者删除后就不能撤回了哦!
            </div>
        </form>
    </div>
</div>

{include file="/template/footer" }