<!--这是头部-->
<!DOCTYPE html>
<html>
    <head>
        <title>[title]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h2>欢迎来到铁匠铺</h2>
            <hr />
                <ul class="nav nav-pills row">
                <li class="nav-item col"><a class='nav-link active text-center' href="<*:url('/index/subject')*>">开始学习</a></li>
                <li class="nav-item col"><a class='nav-link active text-center' href="<*:url('/index/note')*>">笔记</a></li>
                <li class="nav-item col"><a class='nav-link active text-center' href="<*:url('/index/addSubject')*>">添加科目</a></li>
                <li class="nav-item col"><a class="nav-link active text-center" href="<*:url('/index/addCourse')*>">添加知识点</a></li>
                <li class="nav-item col"><a class="nav-link active text-center" href="<*:url('/index/viewCourse')*>">浏览知识点</a></li>
                <?php if(session('valid_user', '', 'user')){
                        echo "<li class='nav-item col'> <a class='nav-link active text-center' href='". url('/index/logout')."'>登出</a></li> ";
                }
                ?>
            </ul>

<hr />
            
            
        
